    mat-grid-tile {
        background: lightblue;
        height: 100px;
        padding: 0 !important;
      }
  mat-grid-list .mat-grid-tile:nth-child(3),
    mat-grid-list .mat-grid-tile:nth-child(4){
     margin-top: 0 !important; 
  }